<!DOCTYPE html>
<html>
    <head>
        <title>Fashion Retrieval</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>

    <body>
        <h1>Fashion Retrieval</h1>
        <p>Upload a photo to classify clothes in the image</p>

        <form action="/result" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>

</html>